<div class="field">
  {% if field.widget_type == 'checkbox' %}
    <label class="check">{{ field }} {{ field.label }}</label>
  {% elif field.widget_type == 'radioselect' %}
    <span class="field-label">{{ field.label }}</span>
    <div class="radios">{% for r in field %}<label>{{ r.tag }} {{ r.choice_label }}</label>{% endfor %}</div>
  {% else %}
    {{ field.label_tag }}
    {{ field }}
  {% endif %}
  {% if field.help_text %}<div class="help">{{ field.help_text|safe }}</div>{% endif %}
  {{ field.errors }}
</div>
