{% load pontaj_tags %}<tr>
  <td class="name">Total</td>
  <td colspan="{{ grid.days|length }}"></td>
  {% if mode == 'month' %}
  <td class="sum first"></td>
  <td class="sum">{{ grid.totals.hours|num }}</td>
  <td class="sum sp">{{ grid.totals.sp|num }}</td>
  <td class="sum co">{{ grid.totals.co|num }}</td>
  <td class="sum cm">{{ grid.totals.cm|num }}</td>
  <td class="sum lfp">{{ grid.totals.lfp|num }}</td>
  {% else %}
  <td class="sum first">{{ grid.totals.hours|num }}</td>
  {% endif %}
</tr>
